html {
    /*margin-left: 10px;
    margin-top: 10px;*/
	margin-left: -8px;
	margin-top: 10px;
	font-family: Calibri;
}

a:link {
	color: #2572af;
}

a:visited {
	color: #052fa0;
}

a:hover {
	color: #e17e30;
}
/* order matters */

ul {
    list-style-type: none;
    margin-top: -18px;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
	font-size: 17px;
	font-family: Times New Roman;
}

li a {
    display: block;
    color: #000;
    padding: 10px 16px;
    text-decoration: none;
}

li a.home{
	color: red;
	font-size: 18px;
}

li a.home:hover:not(.active) {
	background-color: red;
	color: white;
}

li a.weeks {
	color: #1067f7;
}

li a.weeks:hover:not(.active) {
    background-color: #1067f7;
    color: white;
}

li a.fieldhead {
	color: #08BA9F;
}

li a.fieldhead:hover:not(.active) {
	background-color: #08BA9F;
	font-size: 16px;
}

body {
    background-color: white;
}

.everything {
	margin-left: 160px;
}

h1 {
    text-align: center;
    color: #0965FF;
    margin: 0;
    padding: 0;
}

h2 {
    color: #085BE5;
    font-size: 22px;
}

p {
    color: #3093e1;
    font-size: 16px;
    text-indent: 30px;
    margin-left: 10px;
}

.week {
    background-color: #36A4FA;
	border-radius: 15px;
	color: white;
	padding: 10px;
	margin-left: 5px; 
	margin-right: 5px;
}

.content1 {
    padding-right: 5px;
    background-color: #aedafd;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-style: dotted;
}

.other {
    background-color: #0AE8C7;
	border-radius: 15px;
	color: white;
	padding: 10px;
	margin-left: 5px; 
	margin-right: 5px;
}

.content2 {
    padding-right: 5px;
    background-color: #BEF9F1;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 10px;
    border-style: dotted;
}

.field {
	color: #07947E;
}

h3 {
    font-size: 19px;
    color: #08BA9F;
    font-weight: bold;
    margin-left: 10px;
}

.p2 {
    color: #09C7AA;
}
